option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "7IfmJE8zVqi6WkLgdku2wiw2JdaBa6qyBaExhTvt"
    MASTER_KEY: "yFDKPty9Eob0j1jP1tf7Ln3ISnWP4pCI7G0MBcmh"
    DATABASE_URI: "mongodb://admin:lakers1234@ds145405.mlab.com:45405/weightsndates-dev"
    NODE_ENV: "production"
    SERVER_URL: "https://weightsndates-server-dev.herokuapp.com:1337/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
